In [1]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/loan-prediction-based-on-customer-behavior/Test Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Training Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Sample Prediction Dataset.csv

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics
import os

### Reading Data

In [3]:
df=pd.read_csv('/kaggle/input/loan-prediction-based-on-customer-behavior/Training Data.csv')
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

### Preprocessing The Data

In [4]:
df=df.drop('Id',axis=1)
df.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [5]:
df.isnull().sum()

Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Income             252000 non-null  int64
 1   Age                252000 non-null  int64
 2   Experience         252000 non-null  int64
 3   Married/Single     252000 non-null  object
 4   House_Ownership    252000 non-null  object
 5   Car_Ownership      252000 non-null  object
 6   Profession         252000 non-null  object
 7   CITY               252000 non-null  object
 8   STATE              252000 non-null  object
 9   CURRENT_JOB_YRS    252000 non-null  int64
 10  CURRENT_HOUSE_YRS  252000 non-null  int64
 11  Risk_Flag          252000 non-null  int64
dtypes: int64(6), object(6)
memory usage: 23.1+ MB

In [7]:
df['Profession'].value_counts()

Physician                     5957
Statistician                  5806
Web_designer                  5397
Psychologist                  5390
Computer_hardware_engineer    5372
Drafter                       5359
Magistrate                    5357
Fashion_Designer              5304
Air_traffic_controller        5281
Comedian                      5259
Industrial_Engineer           5250
Mechanical_engineer           5217
Chemical_engineer             5205
Technical_writer              5195
Hotel_Manager                 5178
Financial_Analyst             5167
Graphic_Designer              5166
Flight_attendant              5128
Biomedical_Engineer           5127
Secretary                     5061
Software_Developer            5053
Petroleum_Engineer            5041
Police_officer                5035
Computer_operator             4990
Politician                    4944
Microbiologist                4881
Technician                    4864
Artist                        4861
Lawyer                        4818
Consultant                    4808
Dentist                       4782
Scientist                     4781
Surgeon                       4772
Aviator                       4758
Technology_specialist         4737
Design_Engineer               4729
Surveyor                      4714
Geologist                     4672
Analyst                       4668
Army_officer                  4661
Architect                     4657
Chef                          4635
Librarian                     4628
Civil_engineer                4616
Designer                      4598
Economist                     4573
Firefighter                   4507
Chartered_Accountant          4493
Civil_servant                 4413
Official                      4087
Engineer                      4048
Name: Profession, dtype: int64

In [8]:
df['CITY'].head()

0                   Rewa
1               Parbhani
2              Alappuzha
3            Bhubaneswar
4    Tiruchirappalli[10]
Name: CITY, dtype: object

In [9]:
df['STATE'].unique()

array(['Madhya_Pradesh', 'Maharashtra', 'Kerala', 'Odisha', 'Tamil_Nadu',
       'Gujarat', 'Rajasthan', 'Telangana', 'Bihar', 'Andhra_Pradesh',
       'West_Bengal', 'Haryana', 'Puducherry', 'Karnataka',
       'Uttar_Pradesh', 'Himachal_Pradesh', 'Punjab', 'Tripura',
       'Uttarakhand', 'Jharkhand', 'Mizoram', 'Assam',
       'Jammu_and_Kashmir', 'Delhi', 'Chhattisgarh', 'Chandigarh',
       'Uttar_Pradesh[5]', 'Manipur', 'Sikkim'], dtype=object)

In [10]:
df=df.drop('CITY',axis=1)

#### Encoding The Categorical data

In [11]:
en = LabelEncoder()
catCols = ['Married/Single','House_Ownership','Car_Ownership','Profession','STATE']
for cols in catCols:
    df[cols] = en.fit_transform(df[cols])

In [12]:
df.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,1,2,0,33,13,3,13,0
1,7574516,40,10,1,2,0,43,14,9,13,0
2,3991815,66,4,0,2,0,47,12,4,10,0
3,6256451,41,2,1,2,1,43,17,2,12,1
4,5768871,47,11,1,2,0,11,22,3,14,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Income             252000 non-null  int64
 1   Age                252000 non-null  int64
 2   Experience         252000 non-null  int64
 3   Married/Single     252000 non-null  int64
 4   House_Ownership    252000 non-null  int64
 5   Car_Ownership      252000 non-null  int64
 6   Profession         252000 non-null  int64
 7   STATE              252000 non-null  int64
 8   CURRENT_JOB_YRS    252000 non-null  int64
 9   CURRENT_HOUSE_YRS  252000 non-null  int64
 10  Risk_Flag          252000 non-null  int64
dtypes: int64(11)
memory usage: 21.1 MB

### Splitting The Data

In [14]:
Y = df["Risk_Flag"]
X = df.drop("Risk_Flag",axis = 1)

In [15]:
X.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
0,1303834,23,3,1,2,0,33,13,3,13
1,7574516,40,10,1,2,0,43,14,9,13
2,3991815,66,4,0,2,0,47,12,4,10
3,6256451,41,2,1,2,1,43,17,2,12
4,5768871,47,11,1,2,0,11,22,3,14

In [16]:
Y.head()

0    0
1    0
2    0
3    1
4    1
Name: Risk_Flag, dtype: int64

In [17]:
Y=pd.DataFrame(Y)

In [18]:
Y.head()

   Risk_Flag
0          0
1          0
2          0
3          1
4          1

In [19]:
X.shape

(252000, 10)

In [20]:
Y.shape

(252000, 1)

### Splitting Data as Test Validation

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=0)

In [22]:
Y_train.head()

        Risk_Flag
223480          0
177039          1
85476           0
243408          0
116275          0

### XGB Classifier

In [23]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix,precision_score,recall_score,f1_score,accuracy_score,roc_auc_score

clf=XGBClassifier(learning_rate=0.1,
                 n_estimators=1000,
                 use_label_encoder=False,
                random_state=42)
clf.fit(X_train,Y_train,eval_metric='logloss')
y_predict=clf.predict(X_test)

print("Accuracy_score:",str(accuracy_score(Y_test,y_predict)))

Accuracy_score: 0.8971428571428571

In [24]:
print("F1 Score:"+str(f1_score(Y_test,y_predict)))
print("Recall Score:"+str(recall_score(Y_test,y_predict)))
print("ROC AUC Score : "+str(roc_auc_score(Y_test,y_predict)))

F1 Score:0.4862239841427156
Recall Score:0.39944634424360853
ROC AUC Score : 0.6828226547129156

### Decision Tree Classifier

In [25]:
from sklearn.tree import tree
dtc = tree.DecisionTreeClassifier()
dtc.fit(X_train, Y_train)
predsdtc = dtc.predict(X_test)
print("accuracy_score: " + str(accuracy_score(Y_test, predsdtc)))

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.tree.tree module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.
  warnings.warn(message, FutureWarning)

accuracy_score: 0.8822619047619048

In [26]:
print("F1 score:"+str(f1_score(Y_test,predsdtc)))

F1 score:0.537706450607666

In [27]:
print("ROC AUC SCORE"+str(roc_auc_score(Y_test,predsdtc)))

ROC AUC SCORE0.74433238294993